
<div class="container white-bg fill" ng-class="{{pageClass}}">
    <div class="row intro-bg">
        <div class="col-xs-12">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="assets/img/logo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <div class="col-xs-12 text-center">
            <h4 class="grey-color">{{langString[lang].title}}</h4>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 circle-container text-center">
            <!--<a href="#/question?type=1"><img src="assets/img/6Circle.png" /></a>-->
            <div id="colorWheel">
                <span class="color01"></span>
                <span class="color02"></span>
                <span class="color03"></span>
                <span class="color04"></span>
                <span class="color05"></span>
                <span class="color06"></span>
                <span class="color07"></span>
                <span class="color08"></span>
                <span class="color09"></span>
                <span class="color10"></span>
            </div>
        </div>
    </div>
</div>