
<div class="container white-bg fill" ng-class="{{pageClass}}">
    <div class="row intro-bg">
        <div class="col-xs-12">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="assets/img/logo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <div class="col-xs-12 text-center">
            <h4 class="grey-color">{{langString[lang].title}}</h4>
            <br />
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <div class="col-sm-6 col-md-4" ng-repeat="category in categoriesList track by category.id">
            <div class="thumbnail" style="background-color:{{category.color}} !important;">
                <img src="{{category.icon}}">
                <div class="caption">
                    <h3 ng-bind="(lang == 'he')? category.title_he : category.title_en"></h3>
                    <p>{{category.id}}</p>
                    <p>
                        <a href="#/question?cat={{category.id}}" class="btn btn-primary" role="button">בחר שאלה</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 circle-container text-center">

            <!--<a href="#/question?type=1"><img src="assets/img/6Circle.png" /></a>-->
            <!--<div id="colorWheel">
                <span class="color01"></span>
                <span class="color02"></span>
                <span class="color03"></span>
                <span class="color04"></span>
                <span class="color05"></span>
                <span class="color06"></span>
                <span class="color07"></span>
                <span class="color08"></span>
                <span class="color09"></span>
                <span class="color10"></span>
            </div>-->
            <!--<div id="venues" style="float:left">
                <ul>
                    <li><input id="venue-1" name="1" value="1" type="checkbox" checked="checked"><label for="venue-1">1</label></li>
                    <li><input id="venue-2" name="2" value="2" type="checkbox" checked="checked"><label for="venue-2">2</label></li>
                    <li><input id="venue-3" name="3" value="3" type="checkbox" checked="checked"><label for="venue-3">3</label></li>
                    <li><input id="venue-4" name="4" value="4" type="checkbox" checked="checked"><label for="venue-4">4</label></li>
                </ul>
            </div>
            <div id="wheel">
                <canvas id="canvas" width="600" height="600"></canvas>
            </div>
            <div id="stats"><div id="counter"></div></div>-->
        </div>
    </div>
</div>