
<div class="container white-bg fill" ng-class="{{pageClass}}">
    <div class="row intro-bg">
        <div class="col-xs-12">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="assets/img/logo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <div class="col-xs-12 text-center">
            <h4 class="grey-color">{{langString[lang].title}}</h4>
            <br />
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <!--<div class="col-sm-6 col-md-4" ng-repeat="category in categoriesList track by category.id">
            <div class="thumbnail" style="background-color:{{category.color}} !important;">
                <img src="{{category.icon}}">
                <div class="caption">
                    <h3 ng-bind="(lang == 'he')? category.title_he : category.title_en"></h3>
                    <p>{{category.id}}</p>
                    <p>
                        <a href="#/question?cat={{category.id}}" class="btn btn-primary" role="button">בחר שאלה</a>
                    </p>
                </div>
            </div>
        </div>-->
        <div class="col-xs-12 circle-container text-center">
            <div id="wheel" ng-click="spin();"></div>
            <a ng-href="#/question?cat={{selectedCategoryId}}" class="btn btn-primary" role="button">
                <label ng-bind="selectedCategory"></label>
            </a>
        </div>
    </div>
</div>

