
<div class="container white-bg fill" ng-class="{{pageClass}}">
    <div class="row intro-bg">
        <div class="col-xs-12">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="logout()" href="#/">
                            <img alt="Brand" src="assets/img/logo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <div class="col-xs-12 text-center">
            <h4 class="grey-color">{{langString[lang].title}}</h4>
            <br />
        </div>
    </div>

    <div class="row" ng-class="(lang == 'he')?'rtl':''">
        <div class="col-xs-12 circle-container text-center">
            <div id="wheel" ng-click="spin();"></div>
        </div>
    </div>

    <div class="row select-catagory" ng-class="(lang == 'he')?'rtl':''" ng-show="isSpinning">
        <div class="col-xs-12 text-center">
            <div class="dots-animation" ng-show="showDots">
                <span ng-repeat="category in categoriesList" class="dots dot_{{$index}}" style="background-color:{{category.color}};"></span>
            </div>
            <div ng-show="!showDots">
                <label class="category-label" style="color:{{selectedCategoryColor}}">{{selectedCategory}}</label>
                <a href="#/question?catId={{selectedCategoryId}}&catColor={{selectedCategoryColor}}&catIcon={{selectedCategoryIcon}}" style="color:#fff;background-color:{{selectedCategoryColor}}" class="btn category-link">תן לי לפתור בעיה</a>
            </div>
        </div>
    </div>
</div>

