
<div class="container fill" ng-class="{{pageClass}}">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="assets/img/logo.png" alt="logo" />

        </div>
    </div>
    <div class="row" id="select-lang">
        <div class="col-xs-12">
            <h4 class="white-color" ng-class="(lang == 'he') ? ['text-right', 'rtl'] : 'text-left'">{{langString[lang].label}}</h4>
            <select class="form-control white-bg" ng-class="(lang == 'he') ? ['text-right', 'rtl'] : 'text-left'" ng-model="item" ng-init="item = item || (lang == 'he')? languages[0]:languages[1]" ng-options="language as language.name for language in languages" ng-change="changeLanguage()">

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#/register" class="btn general-btn btn-shadow round-btn orange-btn bottom-btn">{{langString[lang].btn}}</a>
        </div>
    </div>
</div>


