<div class="container fill" ng-class="{{pageClass}}">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="assets/img/logo.png" alt="logo" />

        </div>
    </div>
    <form class="form-group rtl" id="register-form">
        <div class="row">
            <div class="col-xs-12">
                <input class="white-bg form-control" type="email" ng-model="email" placeholder="{{langString[lang].email}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="white-bg form-control" type="password" ng-model="password" placeholder="{{langString[lang].password}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="white-bg form-control" type="text" ng-model="name" placeholder="{{langString[lang].name}}" />
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <a ng-click="registerToApp()" class="btn general-btn btn-shadow round-btn orange-btn bottom-btn">{{langString[lang].btn}}</a> 
            <a ng-click="loginToApp()" class="btn general-btn btn-shadow round-btn orange-btn bottom-btn">{{langString[lang].btnLogin}}</a> 
        </div>
    </div>
</div>