
/*#region dots*/
.dot_0 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.0s;
    -o-animation-delay: 0.0s;
    animation-delay: 0.0s;
}

.dot_1 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.dot_2 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.dot_3 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.dot_4 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.5s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.dot_5 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.6s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.dot_6 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.7s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.dot_7 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.8s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.dot_8 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.9s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.dot_9 {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 1s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*#endregion*/