
/*#region Settings*/

@font-face {
    font-family: 'FbOxford-Regular';
    src: url('../fonts/FbOxford-Regular.otf') format('opentype');
}

html, body {
    height: 100%;
    font-family: 'FbOxford-Regular', calibri !important;
}

label {
    font-weight: normal;
}

[ng-view] {
    height: 100%;
}

[alt="logo"] {
    width: 40%;
    margin-top: 5%;
}

[alt="Brand"] {
    width: 35%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.container {
    position: relative;
}

.bottom-btn {
    margin-top: 50%;
    color: #000;
}

.jumbotron {
    background-color: transparent;
}

.navbar-default {
    border: none;
    background-color: transparent;
}

/*#endregion*/

/*#region Bg's & Colors*/

[ng-class="intro-bg"], .intro-bg {
    background-color: #5e5e5e;
}

.white-color {
    color: #f4eae0;
}

[ng-class="white-bg"], .white-bg {
    background-color: #f4eae0;
}

.grey-color {
    color: rgb(111, 107, 98) !important;
}

    .grey-color.disable {
        color: #bcb5ad !important;
    }

.grey-bg {
    background-color: #bab3ad;
}

.orange-text {
    color: #f79043;
}

/*#endregion*/

/*#region Btn's*/

.general-btn {
    width: 100%;
    padding: 0.5%;
}

.round-btn {
    border-radius: 0.3em;
}

.btn-shadow {
    box-shadow: 0 0 3px #4b4c4c;
}

.orange-btn {
    background-color: #f79043;
}

.btn-text-right {
    text-align: right !important;
}

.btn-text-left {
    text-align: left !important;
}

/*#endregion*/

/*#region Text*/

.rtl {
    direction: rtl;
}

/*#endregion*/

/*#region Select Lang Page*/

#select-lang {
    margin-top: 40%;
}

/*#endregion*/

/*#region Register Page*/

#register-form {
    margin-top: 20%;
}

    #register-form .row:not(:first-child) {
        margin-top: 5%;
    }

/*#endregion*/

/*#region Alarms*/

#alarms .col-xs-12.white-bg {
    margin-top: 10%;
    padding: 4%;
}

.ringtone {
    width: 100%;
}

    .ringtone:before {
        content: '';
        background: url(../img/alram.png) no-repeat;
        display: inline-block;
        width: 17px;
        height: 17px;
        background-size: cover;
        margin-left: 3%;
        position: relative;
        top: 4px;
    }

[ng-class="settings"] .bottom-btn {
    margin-top: 14%;
}

/*#endregion*/

/*#region Circle Page*/

.circle-container img {
    width: 80%;
}

/*#endregion*/

/*#region Question Page*/

.icon-holder {
    padding: 7%;
}

    .icon-holder:last-child {
        position: relative;
        left: 4%;
    }

    .icon-holder img {
        width: 75%;
    }

.question-type {
    float: right;
    width: 45%;
}

.question {
    position: relative;
    bottom: 0.5em;
    padding: 1%;
}

.answers {
    padding: 0;
    list-style: none;
}

.answer {
    background-color: #fbf9f5;
    padding: 5%;
    font-size: 124%;
    box-shadow: 0 0 5px #d7d0c8;
}

    .answer:not(:first-child) {
        margin-top: 2%;
    }

    .answer:hover {
        background-color: #D22329;
        color: #fff;
    }

.actions {
    margin-top: 9%;
}

    .actions .helpers {
        margin-top: 2.5%;
    }

.helpers {
    width: 80%;
    float: right;
}

    .helpers img {
        width: 10%;
        margin-left: 15%;
    }

.ok button {
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 240%;
    font-weight: bold;
    color: #D22329;
}

/*#endregion*/

/*#region Popups*/

.popup-language {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
    width: 94%;
    height: 16%;
    position: absolute;
    top: 48%;
    left: 3%;
    padding:5% 2% !important;
}

    .popup-language .list-group {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: "FlipH";
        filter: FlipH;
    }

.popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
}

.popup-bg-message {
    background-image: url('../img/popupmessage.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}

.popup-bonus {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 8%;
    left: 29%;
}

    .popup-bonus p {
        font-size: 116%;
    }

.popup-bg-message button, .popup-answer button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 116%;
}

.popup-bg-general {
    background-image: url('../img/popup.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
}

.popup-answer {
    /*width: 50%;
    height: 34%;*/
    position: absolute;
    top: 30%;
    left: 17%;
    right: 17%;
}

    .popup-answer p {
        font-size: 135%;
    }

        .popup-answer p span {
            display: block;
        }

    .popup-answer button {
        margin-left: 26%;
        font-size: 140%;
    }

    .popup-answer p.wrong {
        font-size: 110%;
    }

/*#endregion*/

/*#region Lists*/

.language-holder {
        margin: 2% 1% 0 0;
    padding: 0;
}

.language {
    padding: 5px 15px;
    background-color: transparent;
    border: none;
}

    .language:hover {
        background-color:#D4D0C7;
    }

/*#endregion*/
