<div class="container intro-bg fill" ng-class="{{pageClass}}">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="../assets/img/logo.png" alt="logo" />

        </div>
    </div>
    <form class="form-group rtl" id="register-form">
        <div class="row">
            <div class="col-xs-12">
                <input class="white-bg form-control" type="email" placeholder="אימייל" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="white-bg form-control" type="password" placeholder="סיסמה" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="white-bg form-control" type="text" placeholder="שם פרטי" />
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <a href="#/settings" class="btn general-btn btn-shadow round-btn orange-btn bottom-btn">{{langString[lang].btn}}</a>
        </div>
    </div>
</div>